*{
    margin:0px;
    }
    #splashPage{
      background-color: rgb(70, 18, 117);
      height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    
    #favicon{
      width: 55px;
      animation: rotateFavicon 1.5s infinite linear alternate;
    }
    
    @keyframes rotateFavicon{
      100%{
        transform: rotate(30deg);
        opacity: 30%;
      }
    
      50%{
        transform: rotateY(180deg);
      }
    }
    
    #startButton{
      width: 150px;
      height: 45px;
      background-color: rgb(161, 111, 209);
      border-radius: 5px;
      color:rgb(85, 45, 112);
      text-align: center;
      text-decoration: none;
      padding: 5px;
      margin-top: 50px;
      font-size: large;
      box-shadow: inset 0px -6px 0px rgba(27, 24, 24, 0.349);
      text-transform: uppercase;
      font-family: monospace;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      animation: hover 2s infinite alternate;
    }
    
    #startButton:hover{
      color: whitesmoke;
    }
    
    @keyframes hover{
      100%{
        
        transform: translateY(50px);
      }
    }
  
    